langchain
langgraph
langchain_community
langchain_groq
langchain_experimental
langsmith
pandas
numpy
streamlit
streamlit-option-menu
fastapi
uvicorn
neo4j
toml
pytest
great_expectations
yfiles-jupyter-graphs
boto3
awswrangler
matplotlib
seaborn
bcrypt==4.0.1
cryptography
fastapi
psycopg2-binary
PyMySQL
python-jose
python-multipart
SQLAlchemy
uvicorn
passlib
pytest
httpx
pytest-asyncio
aiofiles
jinja2
fastapi[standard]